main {
	margin: 0 auto!important;
	max-width: 90%!important;
    padding: 50px 30px!important;
}


body { 
   background-color: #280079!important;
   background-image: url("../src/assets/cover/header-background.jpg");
}

:root {
    --primary: #8c54ff;
    --secondary: #F3A847;
    --tertiary: #B12704;
    --light: #fafafa;
    --dark: #000000;
    --darker: #111111;
    --error: rgb(228, 46, 1);
    --spacing-one: calc(1rem * 0.5);
    --spacing-two: calc(1rem);
    --spacing-five: calc(2.5rem);
  
  }


.card {
    background-color: #8867ad!important;
    color: #fff!important;
    width: 400px;
}

.img-fluid { 
    border-radius:50%;
}

label {
    font-size: 100%;
    width: 200px;
    margin: 1px 0;
}

input {
    width: 250px;
    padding: 15px;
    margin: 2px 0; 
}

.nav { 
    background-color: rgb(26, 20, 25);
    padding: 15px;
}

.text-primary { 
    padding-left: 20px;
}
.contact { 
    align-items: center!important;
    border: 1px solid white;
    border-radius: 10px;
    background: lightblue;
    width: 50vw;
    height: 50%;
    box-shadow: 10px 10px;
    display: table-row;
    
}

label {
    font-size: 20px;
    
}

form {
    background: rgb(22, 82, 102)!important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px 50px;
  }
  
h1 { 
    text-decoration: underline;
    padding-bottom: 20px;
    text-decoration-color: white;
    border-bottom: 2px;
}

h2 {
    text-align: center;
}